{% extends 'Sustain/base.html' %}

{% block content %}
    <!--
    File: carbon_monsters.html
    Description: This HTML template file is used to display the list of community-based and user-based monsters in the Sustainability Game.
    It extends the 'Sustain/base.html' template.

    The template consists of two sections:
    1. Community-Based Monsters:
        - Displays a table with the names and health points of community-based monsters.
        - Provides a button to switch to the User-Based Monsters section.
        - Provides a button to add a new monster.
    2. User-Based Monsters:
        - Displays a table with the names and health points of user-based monsters.
        - Provides a button to switch to the Community-Based Monsters section.
        - Provides a button to add a new monster.

    The tables use the DataTables plugin for enhanced functionality.
    The script section contains JavaScript code to initialize the DataTables plugin and handle the toggling between the two monster sections.
    Note: The template uses Django template tags to dynamically populate the monster data from the server.

    Author: Luke
    -->

    <title>Carbon</title>
    
    <div id="communityBased" class="container mt-5">
        <h1 class="mb-4">Community-Based Monsters</h1>
            <button id="viewUserBased" class="text-white btn float-left" style="background-color: #0B6623 !important;">View User-Based Monsters</button>

            <a href="{% url 'create_carbon_monster' %}" class="btn btn-success mb-3 float-right">
                <i class="fas fa-plus"></i> Add New
            </a>

        <table id="communityBasedTable" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Monster Name</th>
                    <th>HP</th>
                </tr>
            </thead>
            <tbody>
                {% for monsters in communityBased %}
                    <tr>
                        <td>{{ monsters.monster_name }}</td>
                        <td>{{ monsters.health_points }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No Monsters Found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="userBased" class="container mt-5" style="display: none;">
        <h1 class="mb-4">User-Based Monsters</h1>
            <button id="viewCommunityBased" class="text-white btn float-left" style="background-color: #0B6623 !important;">View Community-Based Monsters</button>

            <a href="{% url 'create_carbon_monster' %}" class="btn btn-success mb-3 float-right">
                <i class="fas fa-plus"></i> Add New
            </a>

        <table id="userBasedTable" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Monster Name</th>
                    <th>HP</th>
                </tr>
            </thead>
            <tbody>
                {% for monsters in userBased %}
                    <tr>
                        <td>{{ monsters.monster_name }}</td>
                        <td>{{ monsters.health_points }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No Monsters Found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready( function () {
            $('#communityBasedTable').DataTable();
            $('#userBasedTable').DataTable();
    
            // Function to toggle between admin accounts and user accounts
            $('#viewCommunityBased').click(function() {
                $('#communityBased').toggle();
                $('#userBased').toggle();
            });

            $('#viewUserBased').click(function() {
                $('#communityBased').toggle();
                $('#userBased').toggle();
            });
        });
    </script>


{% endblock %}