body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-detail{
    border: 1px solid #416446;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.profile-details {
    flex-grow: 1;
}
.profile-details h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
.profile-details p {
    margin: 5px 0;
    color: #666;
}
.additional-details {
    padding-top: 20px;
}
.additional-details h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}
