<!-- 
File: base.html
Description: This contains the base html resources required for each page on the site, every other page uses the 'extend base.html' tag
              It contains the links for CSS and Javascript, and includes the navbar and footer
              It allows the code to be centralised to this page, and any updates only have to be changed on this page to affect every other page on the site
Author: Charlie
-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">


    <!-- Optional JavaScript -->
    <!-- jQuery, Popper.js, Bootstrap JS, Datatables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


  </head>

  <!-- Includes the navbar template, for centralisation -->
  {% include 'Sustain/navbar.html' %}

  <body id="mainContent" style="background: #f4f4f4;">
    <br/>
    <div style="padding: 7px;">
      {% block content %}
      
      {% endblock %}
    </div>

  </body>


  <!-- Footer: any changes affect the whole site -->
  <footer class="py-4 bg-light mt-auto" style="font-size: smaller; padding: 5px; position: fixed; bottom: 0; width: 100%; height: auto; justify-content: space-between;" id="footer">
      <div class="text-muted float-left text-left col-6">Copyright &copy; ScrumBuddies 2024</div>
      <div class="float-right text-right col-6" style="display: flex; flex-direction: column;">
          <a href="{% url 'privacy_policy' %}">&middot; Privacy Policy</a>
          <a href="{% url 'terms_and_conditions' %}">Terms &amp; Conditions</a>
      </div>
  </footer>

  <script>
    // Dynamically adjusts the page body to account for the size of the footer
    function adjustPadding() {
        var footerHeight = document.getElementById('footer').offsetHeight;
        document.getElementById('mainContent').style.paddingBottom = footerHeight + 'px';
    }
    // Calls the function when the page loads and when it's resized
    window.onload = adjustPadding;
    window.addEventListener('resize', adjustPadding);
  </script>

</html>