{% extends 'Sustain/base.html' %}

{% block content %}
    <!--
    File: terms_and_conditions.html

    Description: This HTML file represents the terms and conditions page of the Sustain platform.
    It extends the base.html template and contains a card layout with various sections.
    The sections include information about the effective date, agreement to terms, use of service, user content, 
    our content, termination, and changes to terms.
    The file also includes links to the Privacy Policy and provides instructions for reviewing modified terms.

    Author: Greg
    -->

    <title>Terms and Conditions</title>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title mb-4">Terms and Conditions</h1>
                        <p class="lead">Effective Date: 21-03-2024</p>
                        <p class="card-text">These Terms and Conditions govern your use of the Sustain platform and provide information about the Sustain Service, outlined below. By accessing or using our Service, you confirm that you can form a binding contract with Sustain, that you accept these Terms and Conditions and that you agree to comply with them. Your access to and use of our Service is also subject to our Privacy Policy.</p>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title mt-1">1. Agreement to Terms</h2>
                            <p class="mb-1">By using our Service, you agree to these terms. If you don’t agree to these terms, don't use the Service. We may modify these Terms at any time. If we do so, we'll let you know either by posting the modified Terms on the Site or through other communications. It's important that you review the Terms whenever we modify them because if you continue to use the Service after we have posted modified Terms on the Site, you are indicating to us that you agree to be bound by the modified Terms.</p>

                        <h2 class="card-title mt-5">2. Use of Service</h2>
                            <p class="mb-1">You may use our Service only if you can form a binding contract with Sustain, and only in compliance with these Terms and all applicable laws. Using our Service does not give you ownership of any intellectual property rights in our Service or the content you access.</p>

                        <h2 class="card-title mt-5">3. Your Content</h2>
                            <p class="mb-1">You are responsible for the content, such as any text, images, and other material that you upload or post on or through our Service. You should only provide content that you are comfortable sharing with others under these Terms.</p>

                        <h2 class="card-title mt-5">4. Our Content</h2>
                            <p class="mb-1">The Service contains content owned or licensed by Sustain. Such content is protected by copyright, trademark, patent, trade secret and other laws. You may not modify, rent, lease, loan, sell, distribute or create derivative works based on this content (either in whole or in part) unless you have been specifically told that you may do so by Sustain or by the owners of that content, in a separate agreement.</p>

                        <h2 class="card-title mt-5">5. Termination</h2>
                            <p class="mb-1">We may terminate or suspend your right to access or use our Service for any reason with or without notice. Upon termination of your rights under these Terms, your right to access and use the Service will terminate immediately. You understand that any termination of your Account may involve deletion of your User Content associated with your Account from our live databases.</p>

                        <h2 class="card-title mt-5">6. Changes to Terms</h2>
                            <p>We may modify these Terms at any time. If we do so, we'll let you know either by posting the modified Terms on the Site or through other communications. It's important that you review the Terms whenever we modify them because if you continue to use the Service after we have posted modified Terms on the Site, you are indicating to us that you agree to be bound by the modified Terms.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}