{% extends 'Sustain/base.html' %}


{% block content %}

    <title>Attack Carbon Monsters</title>
    
    <h2>Current points: {{ profile.pointsToAttack }}</h2>

    <div class="text-center" style="position:relative">
        <img src="../img/pollution/exeter_uni_map.jpg" alt="Map of Exeter Uni" class="img-fluid">
        {% for monster in communityBased %}
        <div class="container mt-5" style="width:5%; position:relative; z-index:10">
            <div class="text-center">
                {{ monster.health_points}} / {{ monster.initial_health_points }}
                <form method="POST" action="{% url 'damage_carbon_monsters' %}" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ monster.id }}">
                    <button type="submit" style="background:none; border:none; padding:0; margin:0; cursor:pointer;">
                        <img src="{{ monster.monster_sprite.url }}" alt="Monster" class="img-fluid">
                    </button>
                </form>
                {{monster.monster_name}}
            </div>
        </div>
        {% endfor %}

        {% for monster in userBased %}
        <div class="container mt-5" style="width:5%; position:relative; z-index:10">
            <div class="text-center">
                {{ monster.health_points}} / {{ monster.initial_health_points }}
                <form method="POST" action="{% url 'fight_carbon_monsters' %}">
                <!-- <form method="POST" action="{% url 'damage_carbon_monsters' %}" style="display:inline"> -->
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ monster.id }}">
                    <button type="submit" style="background:none; border:none; padding:0; margin:0; cursor:pointer;">
                        <img src="{{ monster.monster_sprite.url }}" alt="Monster" class="img-fluid">
                    </button>
                </form>
                {{monster.monster_name}}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %} 