{% extends 'Sustain/base.html' %}

{% block content %}
    <!-- 
    File: qr_explain.html
    Description: This is the page containing the locations of qr codes. The codes are listed from the database. The page also contains the instructions for the QR codes.
    Author: Charlie
    -->
    <title>QR Challenge Page</title>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mx auto">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title mb-4">Welcome to the QR Challenge Page!</h1>
                        <p class="card-text small"></p>
                    </div>

                    <div class="card-body">
                        <h3 class="card-title mt-1">How It Works:</h3>
                            <ul>
                                <li>Go to one of the locations below</li>
                                <li>Find the QR code</li>
                                <li>Scan it</li>
                                <li>You will be directed to a page containing the challenge</li>
                                <li>Complete the challenge to earn points!</li>
                            </ul>

                        <hr style="border-top: 1px solid #bbb;">


                        <h4 class="card-title mt-1">Locations:</h4>
                        <!-- Table displaying the locations of all challenges currently stored in the database, and their points -->
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Location</th>
                                    <th>Description</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for question in multiple_choice_questions %}
                                <tr>
                                    <td>{{ question.location }}</td>
                                    <td>{{ question.description | safe }}</td>       <!-- Renders the HTML description, safely -->
                                    <td>{{ question.points }}
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No questions found.</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}