{% extends 'Sustain/base.html' %}


{% block content %}
    <!--
    File: tasks.html

    Description: This HTML template file is used to display the tasks page of a sustainability game.
    It extends the 'Sustain/base.html' template.
    
    The template includes the following sections:
    - Current points: Displays the current points of the user's profile.
    - Current Tasks To Complete: Displays a table of tasks that are currently assigned to the user.
        - Each task is displayed with its name, description, and buttons to complete or remove the task.
    - Next Tasks To Complete: Displays a table of tasks that are available for the user to add to their current tasks.
        - Each task is displayed with its name, description, and a button to add the task.
    - Complete Task Modal: A modal dialog that appears when the user clicks the "Complete Task" button.
        - It displays a question related to the task and provides an input field for the user to enter their answer.
        - The modal also includes buttons to submit the answer or close the modal.
        
    Author: Charlie
    -->
    <title>Tasks</title>

    <div class="container-fluid">
        Current points: {{ profile.points }}
        <br>
        Current Tasks To Complete:
        <table style="width:50%" class="table table-striped table-bordered table-hover table-sm">
            <tr><th>Task Name</th><th>Task Description</th><th>Complete Task</th><th>Remove Task</th></tr>
            {% for task in currentTasks %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#completeTaskModal" data-taskid="{{ task.id }}" data-taskname="{{ task.name }}">Complete Task</button>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'remove_task' %}" style="display:inline">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ task.id }}">
                            <button type="submit" class="btn btn-danger">Remove Task</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container-fluid">
        Next Tasks To Complete:
        <table style="width:50%" class="table table-striped table-bordered table-hover table-sm">
            <tr><th>Task Name</th><th>Task Description</th><th>Add to Current Tasks</th></tr>
            {% for task in availableTasks %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>
                        <form method="POST" action="{% url 'add_task' %}" style="display:inline">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ task.id }}">
                            <button type="submit" class="btn btn-primary">Add Task</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="completeTaskModal" tabindex="-1" role="dialog" aria-labelledby="completeTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Complete Tasks</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="{% url 'complete_task' %}" style="display:inline">
                {% csrf_token %}
                
                <div class="modal-body">
                    <p>What is a gree energy source? name: {{this.task.name}}</p>
                    <p>A. coal, B, Nueclear, C Water</p>
                    <input type="text" name="answer" required>
                    <input type="hidden" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
          </div>
        </div>
      </div>

    <script>
        $('#completeTaskModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var taskID = button.data('taskid');
            $('input[name="id"]').val(taskID);
        });
    </script>
{% endblock %}