{% extends 'Sustain/base.html' %}

{% block content %}
    <title>Delete Account</title>

    <div class="container" id="layoutDelete">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-4">
                    <form method="POST">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-2">Delete Account</h3>
                        </div>
                        
                        <div class="card-body">
                            <p>Are you sure you want to delete your account?</p>
                            <p><small>This action cannot be undone</small></p>
                        </div>

                        <div class="card-footer text-center py-2">
                            <div class="d-flex align-items-center justify-content-between mt-2 mb-0">
                                <a></a>
                                {% csrf_token %}
                                <button type="submit" id="submitButton" class="btn" style="background-color:#0B6623; color: white;" value="Submit">Delete Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}