{% extends 'Sustain/base.html' %}


{% block content %}
    <!--
    File: privacy_policy.html

    Description: This HTML file represents the Privacy Policy page of the Sustain platform.
    It extends the 'base.html' template and contains information about the collection, use, sharing, and protection of personal information.
    The page includes sections that describe the types of information collected, how the information is used, data sharing practices, data security measures, user rights, and policy updates.
    The Privacy Policy is effective as of the indicated date at the top of the page.
    For any inquiries or to exercise user rights, users can contact the provided email address.

    Author: Charlie
    -->
    <title>Privacy Policy</title>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title mb-4">Privacy Policy</h1>
                        <p class="lead">Effective Date: 21-03-2024</p>
                        <p class="card-text">This Privacy Policy describes how ScrumBuddies collects, uses, shares, and protects the personal information of users who access or use our Sustain platform.</p>
                    </div>


                    <div class="card-body">
                        <h2 class="card-title mt-1">1. Information We Collect</h2>
                            <p class="mb-1">We collect the following types of personal information:</p>
                            <ul>
                                <li><strong>Account Information:</strong> When you create an account, we may collect your name, email address, username, password, and other account details.</li>
                                <li><strong>Game Information:</strong> When you complete tasks on our platform, we collect and maintain scores, friends, and other details.</li>
                                <li><strong>Location Information:</strong> Some aspects of the platform require proof of location</li>
                            </ul>


                        <h2 class="card-title mt-5">2. How We Use Your Information</h2>
                            <p class="mb-1">We use the personal information we collect for the following purposes:</p>
                            <ul>
                                <li>To provide and maintain the platform;</li>
                                <li>To communicate with you about your account, and inquiries;</li>
                                <li>To personalize your experience and improve our products and services;</li>
                                <li>To detect, prevent, and address technical issues and fraudulent activities;</li>
                                <li>To comply with legal obligations and enforce our policies.</li>
                            </ul>


                        <h2 class="card-title mt-5">3. Data Sharing</h2>
                            <p class="mb-1">We may share your personal information with the following parties:</p>
                            <ul>
                                <li><strong>Service Providers:</strong> We may share your information with third-party service providers who help us operate the platform, provide customer support, or conduct marketing activities.</li>
                                <li><strong>Business Partners:</strong> We may share your information with business partners or affiliates for joint marketing or promotional purposes.</li>
                                <li><strong>Legal Compliance:</strong> We may disclose your information to comply with legal obligations, enforce our policies, respond to legal requests, or protect our rights, property, or safety.</li>
                                <li><strong>With Your Consent:</strong> We may share your information with your consent or as otherwise disclosed at the time of collection.</li>
                            </ul>


                        <h2 class="card-title mt-5">4. Data Security</h2>
                            <p class="mb-1">We implement appropriate technical and organisational measures to protect the security of your personal information.</p>
                            <p><small>However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</small></p>

        
                        <h2 class="card-title mt-5">5. Your Rights</h2>
                            <p class="mb-1">You have the following rights regarding your personal information:</p>
                            <ul>
                                <li><strong>Access:</strong> You have the right to access and receive a copy of your personal information.</li>
                                <li><strong>Rectification:</strong> You have the right to correct any inaccurate or incomplete information.</li>
                                <li><strong>Erasure:</strong> You have the right to request the deletion of your personal information.</li>
                                <li><strong>Restriction:</strong> You have the right to restrict the processing of your personal information.</li>
                                <li><strong>Objection:</strong> You have the right to object to the processing of your personal information.</li>
                                <li><strong>Data Portability:</strong> You have the right to receive your personal information in a structured, commonly used, and machine-readable format.</li>
                            </ul>
                            <p><small>To exercise your rights or for any inquiries about our privacy practices, please contact us at support@sustain.com</small></p>


                        <h2 class="card-title mt-5">6. Policy Updates</h2>
                            <p>We may update this Privacy Policy from time to time by posting the revised version on the platform. The revised policy will be effective as of the effective date indicated at the top of the page.</p>

                        <h2 class="card-title mt-5">7. GDPR Compliance</h2>
                        <p class="mb-1">We comply with the General Data Protection Regulation (GDPR). If you are a user in the European Union, you have the following additional rights:</p>
                        <ul>
                            <li><strong>Consent:</strong> We will ask for your consent before collecting your personal information for certain purposes, such as marketing.</li>
                            <li><strong>Data Portability:</strong> You have the right to request a copy of your personal information in a structured, commonly used, and machine-readable format.</li>
                            <li><strong>Erasure:</strong> You have the "right to be forgotten," which means you can request the deletion of your personal information.</li>
                            <li><strong>Restriction and Objection:</strong> You have the right to restrict or object to our processing of your personal information.</li>
                        </ul>
                        <p><small>To exercise your rights under the GDPR, please contact us at support@sustain.com</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}