{% extends 'Sustain/base.html' %}


{% block content %}
    <title>Update Password</title>

    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <form method="POST" action="{% url 'update_password' %}">
                                {% csrf_token %}
                                <div class="card shadow-lg border-0 rounded-lg mt-4">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-2">Update Password</h3></div>
                                    <div class="card-body small">
                                        {% if form.errors %}
                                            <div class="alert alert-warning fade show text-center mb-3" role="alert">
                                                <p>There was an error with your form, please try again</p>
                                            </div>
                                        {% endif %}

                                        <div class="login">
                                            <div class="form-floating mb-3">
                                                <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
                                                {{ form.old_password }}
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
                                                {{ form.new_password1 }}
                                                <small class="form-text text-muted">
                                                    <ul>
                                                        <li>Your password can't be too similar to your other personal information.</li>
                                                        <li>Your password must contain at least 8 characters.</li>
                                                        <li>Your password can't be a commonly used password.</li>
                                                        <li>Your password can't be entirely numeric.</li>
                                                    </ul>
                                                    {% if form.errors %}
                                                        <br>
                                                        <ul>
                                                            {% for field in form %}
                                                                {% for error in field.errors %}
                                                                    <li>{{ field.label }}: {{ error }}</li>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </small>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <label for="{{ form.new_password2.id_for_label }}">Confirm Password:</label>
                                                {{ form.new_password2 }}
                                                <small class="form-text text-muted">
                                                    {{ form.new_password2.help_text }}
                                                </small>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer py-2">
                                        <div class="d-flex align-items-center justify-content-between mt-2 mb-0">
                                            <a class="text-muted"><small>Note: These details will be stored, see our privacy policy for details</small></a>
                                            <button type="submit" id="submitButton" class="btn" style="background-color:#0B6623; color: white;" value="Submit">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#toggleOptionalFields').click(function() {
                $('#optionalFields').slideToggle();
                $(this).text(function(i, text) {
                    return text === "Show Optional Fields" ? "Hide Optional Fields" : "Show Optional Fields";
                });
            });
        });
    </script>

{% endblock %}