{% extends 'Sustain/base.html' %}


{% block content %}
    <title>Update Profile</title>

    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <form method="POST" action="{% url 'update_user' %}">
                                {% csrf_token %}
                                <div class="card shadow-lg border-0 rounded-lg mt-4">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-2">Update Profile</h3></div>
                                    <div class="card-body small">
                                        {% if form.errors %}
                                            <div class="alert alert-warning fade show text-center mb-3" role="alert">
                                                <p>There was an error with your form, please try again</p>
                                            </div>
                                        {% endif %}

                                        <div class="login">
                                            <small class="form-text text-muted">
                                                {% if form.errors %}
                                                    <br>
                                                    <ul>
                                                        {% for field in form %}
                                                            {% for error in field.errors %}
                                                                <li>{{ field.label }}: {{ error }}</li>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </small>

                                            <div class="form-floating mb-3">
                                                <label for="{{ form.username.id_for_label }}">Username:</label>
                                                {{ form.username }}
                                                <small class="form-text text-muted">
                                                    {{ form.username.help_text }}
                                                </small>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <label for="{{ form.firstName.id_for_label }}">First Name:</label>
                                                {{ form.first_name }}
                                                <small class="form-text text-muted">
                                                    {{ form.firstName.help_text }}
                                                </small>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <label for="{{ form.lastName.id_for_label }}">Surname:</label>
                                                {{ form.last_name }}
                                                <small class="form-text text-muted">
                                                    {{ form.lastName.help_text }}
                                                </small>
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                                {{ form.email }}
                                                <small class="form-text text-muted">
                                                    {{ form.email.help_text }}
                                                </small>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-footer py-2">
                                        <div class="d-flex align-items-center justify-content-between mt-2 mb-0">
                                            <a class="text-muted"><small>Note: These details will be stored, see our privacy policy for details</small></a>
                                            <button type="submit" id="submitButton" class="btn" style="background-color:#0B6623; color: white;" value="Submit">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}